
.contact-page {
    display: flex; 
    justify-content: space-between; 
    padding: 20px; 
    align-items: center;
}

.contact-form,
.office-container {
    flex-basis: calc(50% - 40px); 
    margin: 10px; 
    box-sizing: border-box; 
    padding: 10px; 
}

.contact-us-container {
    background-color: #81C3D7;
}

.contact-info {
    position: relative;
    
}