* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-hider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 10px;

    label {
        margin-bottom: 10px;
    }
    input {
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #000;
    }

    input.red-border {
        border: 1px solid red;
    }

    button[type="submit"] {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #000;
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }
    button[type="submit"]:hover {
        background-color: #fff;
        color: #000;
    }
    .switch-form-button {
        color: cyan;
        background-color: transparent;
        border: none;
        margin-top: 10px;
    }
    .switch-form-button:hover {
        text-decoration: underline;
    }
}
.form-container.hide {
    display: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

// variable 
$primary-color: black;
$selectBg: rgba(47, 227, 255, 0.25);
$selectBorder: rgba(47, 227, 255, 0.4);
$selectBgHover: rgba(47, 227, 255, 0.55);
$selectBorderHover: rgba(47, 227, 255, 0.7);

// classes
.add {
    background-color: greenyellow;
    height: 25px; width: 25px;
    border-radius: 4px;
}
.minus {
    background-color: rgb(255, 91, 91);
    height: 25px; width: 25px;
}
.arrow {
    background-color: rgba(255, 255, 255, 0.25);
    height: 25px; width: 25px;
    text-align: center;
}
.search_hide {
    display: none;
}
.selected {
    background-color: $selectBg;
    border: 1px solid $selectBorder;
    border-radius: 4px;
}
.redBorder {
    border: 1px solid red;
}

// mixin

@mixin gradient($colors, $angle: 45deg){
    background: linear-gradient($angle, $colors...);
}

input:focus, select:focus {
    outline: none;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include gradient((lightblue,lightblue,lightcoral,lightcoral,rgb(255, 187, 0),rgb(255, 187, 0)), 120deg)
}

#budget-container {
    display: flex;
    flex-direction: column;

    max-width: 650px;

    #top-container {
        display: flex;

        h1 {
            font-weight: 500;
            font-size: 5rem;
            text-align: center;
            margin: 0 auto;
            color: $primary-color;
        }
        
        img {
            position: absolute;
        }
    }
    #middle-container {
        display: flex;

        border-top: 4px solid black;
        border-bottom: 4px solid black;
        > div {
            flex-grow: 1;
            background-color: white;
            border-radius: 20px;
            margin: 10px;
            display: flex;
            flex-direction: column;

            * {
                text-align: center;
            }

            p {
                font-size: 2rem;
            }

            num {
                font-size: 1.4rem;
            }
        }
    }
    #bottom-container{
        display: flex;
        flex-grow: 1;

        height: 411px;
        #left-container {
            display: flex;
            flex-direction: row-reverse;

            border-right: 4px solid black;
            
            #explorer {
                padding-right: 10px;
                padding-left: 10px;

                overflow: auto;

                #top-explorer {
                    p {
                        font-size: 20px;
                        text-align: center;
                    }
                    input {
                        border-radius: 4px;
                    }
                }
                #bottom-explorer {
                    display: flex;
                    flex-direction: column;
                    // folder style
                    .folder  > span {
                        display: flex;
                        border-bottom: 2px solid black;
                        margin: 10px 0;
                        padding-bottom: 2px;
                        > p {
                            flex-grow: 1;
                            padding: 2px;
                        }
                        > p:hover{
                            background-color: rgba(255, 255, 255, 0.25);
                            border: 1px solid rgba(255, 255, 255, 0.4);
                            border-radius: 4px;
                        }
                        .selected:hover {
                            background-color: $selectBgHover;
                            border: 1px solid $selectBorderHover;
                            border-radius: 4px;
                        }
                        > button {
                            margin-left: 10px;
                            border-radius: 4px;
                        }
                    }
                    .item {
                        border: 2px solid black;
                        border-radius: 4px;
                        margin: 10px 0;
                        padding: 2px;
                    }
                    .item  > span {
                        display: flex;
                        border-bottom: 2px solid black;
                        margin: 10px 0;
                        padding-bottom: 2px;

                        > span {
                            display: flex;
                            p {
                                flex-grow: 1;
                                padding: 2px;
                            }
                            flex-grow: 1;
                            padding: 2px;
                        }
                        > span:hover{
                            background-color: rgba(255, 255, 255, 0.25);
                            border: 1px solid rgba(255, 255, 255, 0.4);
                            border-radius: 4px;
                        }
                        .selected:hover {
                            background-color: rgba(0, 128, 0, .25);
                            border: 1px solid rgba(0, 128, 0, .4);
                            border-radius: 4px;
                        }
                        > button {
                            margin-left: 10px;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }
        #right-container {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            margin-top: 10px;
            > span {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                button, input, label, select {
                    border-radius: 4px;
                    font-size: 20px;
                }
                #inform {
                    color: red;
                    font-weight: 500;
                }
            }
        }
    }
}

@media (max-width: 500px){
    #budget-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: 700px;
        width: 650px;
        overflow: auto;
    
        #top-container {
            display: flex;
    
            h1 {
                font-weight: 500;
                font-size: 3rem;
                text-align: center;
                margin: 0 auto;
                color: $primary-color;
            }
            
            img {
                position: absolute;
            }
        }
        #middle-container {
            display: flex;
            flex-direction: column;

            border-top: 4px solid black;
            border-bottom: 4px solid black;
            > div {
                flex-grow: 1;
                background-color: white;
                border-radius: 20px;
                margin: 10px;
                display: flex;
                flex-direction: column;
    
                * {
                    text-align: center;
                }
    
                p {
                    font-size: 1.5rem;
                }
    
                num {
                    font-size: 1.25rem;
                }
            }
        }
        #bottom-container{
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            #left-container {
                display: flex;
                flex-direction: row-reverse;
    
                border-right: 4px solid black;
                
                #explorer {
                    flex-grow: 1;
                    padding-right: 10px;
                    padding-left: 10px;
    
                    overflow: auto;
    
                    #top-explorer {
                        p {
                            font-size: 20px;
                            text-align: center;
                        }
                        span {
                            display: flex;
                            align-items: center;
                        }
                        input {
                            flex-grow: 1;
                            margin: 0 4px;
                            border-radius: 4px;
                        }
                    }
                    #bottom-explorer {
                        display: flex;
                        flex-direction: column;
                        // folder style
                        .folder  > span {
                            display: flex;
                            border-bottom: 2px solid black;
                            margin: 10px 0;
                            padding-bottom: 2px;
                            > p {
                                flex-grow: 1;
                                padding: 2px;
                            }
                            > p:hover{
                                background-color: rgba(255, 255, 255, 0.25);
                                border: 1px solid rgba(255, 255, 255, 0.4);
                                border-radius: 4px;
                            }
                            .selected:hover {
                                background-color: $selectBgHover;
                                border: 1px solid $selectBorderHover;
                                border-radius: 4px;
                            }
                            > button {
                                margin-left: 10px;
                                border-radius: 4px;
                            }
                        }
                        .item {
                            border: 2px solid black;
                            border-radius: 4px;
                            margin: 10px 0;
                            padding: 2px;
                        }
                        .item  > span {
                            display: flex;
                            border-bottom: 2px solid black;
                            margin: 10px 0;
                            padding-bottom: 2px;
    
                            > span {
                                display: flex;
                                p {
                                    flex-grow: 1;
                                    padding: 2px;
                                }
                                flex-grow: 1;
                                padding: 2px;
                            }
                            > span:hover{
                                background-color: rgba(255, 255, 255, 0.25);
                                border: 1px solid rgba(255, 255, 255, 0.4);
                                border-radius: 4px;
                            }
                            .selected:hover {
                                background-color: $selectBgHover;
                                border: 1px solid $selectBorderHover;
                                border-radius: 4px;
                            }
                            > button {
                                margin-left: 10px;
                                border-radius: 4px;
                            }
                        }
                    }
                }
            }
            #right-container {
                display: flex;
                flex-direction: column;
                margin: 0 10px;
                margin-top: 10px;
                > span {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 10px;
                    button, input, label, select {
                        border-radius: 4px;
                        font-size: 20px;
                    }
                    #inform {
                        color: red;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}