* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #EEEDE7;
}
body .image-background {
  background: url(/public/learn-more/Media/cropped-beach.jpg) top center no-repeat;
  background-size: cover;
  max-width: 100vw;
  height: 80vh;
  transition: 0.5s ease;
}
body .image-background h1 {
  color: #19447D;
  font-size: 100px;
  font-family: "Bungee", sans-serif;
  position: relative;
  top: 520px;
  left: 50px;
  transition: 0.5s ease;
  animation: fadeInLeft;
  animation-duration: 2s;
}
body .image-background .header-text {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: #19447D;
  position: relative;
  top: 520px;
  left: 50px;
  transition: 0.5s ease;
  animation: fadeInLeft;
  animation-duration: 2s;
}
body .cont {
  display: flex;
  margin-top: 150px;
}
body .cont .why-is-container {
  height: 600px;
  padding: 5px 60px;
}
body .cont .why-is-container .why-is {
  max-width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: fadeInBottomLeft;
  animation-duration: 4s;
}
body .cont .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body .cont .description h2 {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #19447D;
  border-bottom: 3px solid #5694BA;
}
body .cont .description .paragraph {
  padding: 10px;
  font-size: 20px;
  line-height: 1.5em;
  font-family: "Roboto", sans-serif;
}
body .statistics-box {
  display: grid;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
body .images {
  height: 267px;
  width: 400px;
  border-radius: 4px;
}
body .stats-title {
  font-family: "Bungee", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
}
body .statistics-grid {
  border-radius: 8px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  background-color: #19447D;
  color: #FFFFFF;
  font-size: 15px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  line-height: 35px;
  padding: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin-bottom: 100px;
  max-width: 75%;
  margin: 0 auto;
}
body .statistics-grid img {
  max-width: 100%;
}
body .statistics-grid:hover {
  transform: scale(1.06); /* Slightly enlarges the box */
  box-shadow: 0 4px 8px rgba(158, 158, 158, 0.325); /* Adds shadow for depth */
}

.beach-api .beach {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #19447D;
  font-size: 70px;
  font-family: "Bungee", sans-serif;
  padding: 20px;
}
.beach-api .input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.beach-api .input-container #input {
  width: 800px;
  max-width: 100%;
  padding: 14px;
  font-size: 17px;
  color: black;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border: 2px solid #fff;
  margin-right: -10px;
}
.beach-api .input-container #button {
  border: none;
  background-color: #19447D;
  text-decoration: none;
  padding: 15px;
  padding-bottom: 17px;
  font-size: 17px;
  color: #fff;
  margin-top: 4px;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  cursor: pointer;
}

.answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 500px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: #19447D;
  border-radius: 8px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.answer-container .api-img-answer {
  width: 100%;
  height: auto;
}
.answer-container .api-header-answer {
  color: #81C3D7;
  font-size: 1.5rem;
  font-family: "Bungee", sans-serif;
  margin-top: 1rem;
}
.answer-container .api-text-answer {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 0.5rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #19447D;
  font-size: 5vw;
  font-family: "Bungee", sans-serif;
  padding-top: 10vh;
}

.collapsible {
  margin: 60px auto;
  width: 50vw;
}
.collapsible li {
  list-style: none;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  background: #19447D;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.collapsible li label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: "Bungee", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  cursor: pointer;
}
.collapsible .content {
  color: #FFFFFF;
  padding: 0 10px;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}
.collapsible input[type=radio]:checked + label + .content {
  max-height: 400px;
  padding: 10px 10px 20px;
}
.collapsible input[type=radio]:checked + label::before {
  content: "-";
}

label::before {
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}

input[type=radio] {
  display: none;
}

/* Mobile devices (max-width: 480px) */
@media only screen and (max-width: 480px) {
  .image-background {
    display: none;
  }
  .image-background h1 {
    font-size: 30px;
    top: 350px;
    left: 50px;
  }
  .image-background .header-text {
    font-size: 10px;
    top: 350px;
  }
  .cont {
    margin-top: 150px;
    flex-direction: column;
  }
  .why-is-container {
    height: 400px;
    width: 100%;
  }
  .why-is-container h2 {
    font-size: 30px;
  }
  .why-is-container .paragraph {
    font-size: 16px;
  }
  main .statistics-box {
    grid-template-columns: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
  }
}
.beach-api .beach {
  font-size: 70px;
}
.beach-api .input-container #input {
  width: 800px;
  margin-right: 0;
  max-width: 100%;
}
.beach-api .input-container #button {
  width: 150px;
  border-radius: 0.5rem;
}

.answer-container {
  width: 90%;
  margin: 2rem auto;
}

.title {
  font-size: 30px;
}

.collapsible {
  width: 100%;
  padding-right: 20px;
}
.collapsible li {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}
.collapsible label {
  font-size: 16px;
}
.collapsible .content {
  font-size: 14px;
}

@media (min-width: 480px) {
  .description {
    width: 70vmin;
  }
  .statistics-box {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Tablets (min-width: 481px and max-width: 768px) */
@media (max-width: 768px) {
  body .image-background h1 {
    font-size: 3rem;
    top: 480px;
    max-width: 600px;
  }
  body .image-background .header-text {
    font-size: 1.2rem;
    top: 480px;
    max-width: 600px;
  }
  .description {
    left: 30px;
  }
  .description h2 {
    font-size: 35px;
  }
  .description .paragraph {
    font-size: 18px;
  }
  .statistics-box {
    grid-template-columns: 500px;
    gap: 30px;
  }
  .statistics-box .images {
    height: 250px;
    width: 400px;
  }
  .beach-api .beach {
    font-size: 20px;
    text-align: center;
  }
  .beach-api .input-container {
    flex-direction: column;
    gap: 20p;
  }
  .beach-api #input {
    width: 80%;
    margin-right: 0;
  }
  .beach-api #button {
    width: 80%;
  }
}
.answer-container {
  width: 80%;
  margin: 3rem auto;
}

.title {
  font-size: 2.5rem;
  padding: 20px;
}

.collapsible {
  width: 70vw;
}/*# sourceMappingURL=learnmore.css.map */