* {
    margin: 0;
    padding: 0;
}

$header: #5694BA;
$paragraph: #81C3D7;
$button: #81C3D7;
$background: #EEEDE7;


// this mixin is for roboto text regular
@mixin roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

// this mixin is for roboto text light
@mixin roboto-light {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
}

// this mixin is for roboto text bold
  @mixin roboto-bold {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
  }

  // this mixin is for bungee text
  @mixin bungee {
    font-family: "Bungee", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bungee/v14/N0bU2SZBIuF2PU_0DXR1C9zfmQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


@mixin navFlexCenter {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-between;
}

@mixin imageSize {
    width: 55%;
    height: 60vh;
}

@mixin leftAlign {
    text-align: left;
    margin: 2% 0;
}

@mixin imageBorderRadius {
    border-radius: 20px;
}

@mixin buttonStyle {
    button {
        font-size: 15px; 
        width: 100%;
        height: 40px;
        border: 0; 
        border-radius: 8px;
        background-image: linear-gradient(144deg, #5694BA, #81C3D7 50%, #5694BA);
        color: #FFFFFF;
        cursor: pointer;
        align-items: center;
        display: flex;
        justify-content: center;
        line-height: 1em;
        max-width: 100%;
        min-width: 140px;
        padding: 3px;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        transition: all .3s;
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
    }
    
    button:hover {
        background-color: white;
        color: black;
        outline: 0;
    }
    
    button:active {
        transform: scale(0.9);
    }
    
    button span {
        background-color: rgb(5, 6, 45);
        padding: 16px 24px;
        border-radius: 6px;
        width: 100%;
        height: 100%;
        transition: 300ms;
        text-decoration: none;
    }
    
    button:hover span {
        background: none;
        text-decoration: none;
    }
}




// below is the styling for the nav bar
header {

// login button
        @include buttonStyle();
        button {
            width: 10%;
        }
    
}

    #hero-video {
        width: 100%;
        height: 100%;
    }

main {

    .bulk {
        margin: 15% 15%;


    }


    h1 {
        @include bungee();
        text-align: center;
        margin-top: 1%;
        color: $header;
        font-size: 57px;
    }


    // this is the who are we section with text and photos
    .who-are-we {
        display: grid;
        grid-template-columns: repeat(2, 60%);
        grid-template-rows: repeat(2, 50%);
        flex-direction: row;
        text-align: left;
        

        .who-section {
        margin: 5% 15%;
        grid-area: 1 / 1 / 2 / 2;

        #who-pic {
            grid-area: 1 / 1 / 2 / 2;
        }

 
    // For the learn more button
    @include buttonStyle();

    // For the learn more button
        button {
            margin: 3% 0%;
            width: 40%;
        }
    } 
    
    // this is for the who are we image
        img {
            @include imageBorderRadius();
            width: 50vh;
            height: 70vh;
            
        }
    }


    // this is the our mission section
.our-mission {
        display: grid;
        grid-template-columns: repeat(2, 60%);
        grid-template-rows: repeat(2, 50%);
        @include leftAlign();
        margin-top: 30vw;

        #mission-pic {
            grid-area: 1 / 1 / 2 / 2;
        }

        .mission-section {
            margin: 5% 15%;
            grid-area: 1 / 2 / 2 / 3;
            // @include leftAlign();
        }

  
// this is the our mission image
    img {
        @include imageSize();
        @include imageBorderRadius();
        width: 60vh;
        height: 40vh;
    }
}
    }
    



// this is for all the paragraph text
    p {
        @include roboto-light();
        color: $paragraph;
        font-size: 25px;
    }

    // this is for the coastal cleanup tripa heading section
    #title {
        text-align: center;
        font-size: 47px;
        margin: 5% 0;
        @include bungee;
        color: $header;
    }

    button {
        position: relative;
        margin: 0 auto;
    }


    

    
    // below are the company photo stylings
.company-photos {
    @include navFlexCenter();
    img {
        width: 20%;
        height: 20%;
        margin: 100px;
    }
}


/* card slider css*/

.list-wrapper {
    margin-top: 10%;
}

.list {
    display: flex;
    padding: 10px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    animation: fadeInLeft;
    animation-duration: 8s;
   }
   .item {
    width:100%;
    padding: 0 60px;
   }

   .item-cleanup {
    width:100%;
    padding: 0 30px;
   }
   .content {
    background-color: $header;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 400px;
  }
   .content .headshot {
    max-width: 100%;
    object-fit: cover;
    height: auto;
    border-radius: 8px 8px 0 0;
   }
   .profile-details{
    margin-top: 20px;
    padding-bottom: 10px;
   }
   .name, .job {
    color: white;
    width: 55vmin;
    text-align: center;
   }
   .job {
    @include roboto-light();
    font-size: 18px;
   }
   .name {
    @include bungee();
    font-size: 20px;
   }
   .list-wrapper {
    position: relative;
    margin-bottom: 5%;
   }
   #button--previous {
    color: $header;
    left: 1.5rem;
    object-fit: cover;
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    cursor: pointer;
    }
   #button--next {
    color: $header;
    right: 1.5rem;
    object-fit: cover;
    background: transparent;
    border: none;
    position: absolute;
    top: 50%;
    cursor: pointer;
    }

    @media (max-width: 768px){
    .profile-details{
    margin-top: 20px;
    margin-left: 50px;
    padding-bottom: 10px;
   }
   .name, .job {
    color: white;
    width: 55vmin;
    text-align: center;
   }
}
@media(max-width: 435px){
 .name, .job {
  color: white;
  width: 100vmin;
 }
}



// below is the styling for the footer
footer {
    background-color: #5694BA;
    nav {
        @include navFlexCenter();
        padding: 5%;
        ul {
            @include navFlexCenter();
            @include roboto-light();
            list-style-type: none;
            color: white;
            
    
            li {
                padding-left: 20px;
            }
        }
    }
}


// Navbar styling
.navbar {
    // background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;

    img {
        height: 100px;
    }

    span {
        // color: $text-color;
        margin-left: 10px;
        font-size: 24px;
        // font-family: $bungee-font;
        font-weight: 300;
    }
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 3;

    &.bar {
        background-color: white;
        height: 3px;
        margin: 5px 0;
        width: 25px;
    }
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    // background-color: $primary-color;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 250px;
    transition: right 0.3s ease;
    align-items: center;
    text-align: center;
    z-index: 2;

    .nav-item {
        text-decoration: none;
        // color: $text-color;
        padding: 20px;
        display: block;
        text-align: center;
        position: relative;

        &:hover::after,
        &.active::after {
            content: '';
            display: block;
            width: 50%;
            height: 2px;
            background-color: lightblue;
            position: absolute;
            bottom: 0;
            left: 25%;
        }
    }

    #login-btn, #signout-btn {
        // background-color: $primary-color;
        // border: 2px solid $text-color;
        padding: 10px 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        margin-left: 10px;

        &:hover, &:focus {
            background-color: #CAC9C4;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
        }
    }
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }

    .nav-links.open {
        right: 0;
    }
}

@media (min-width: 769px) {
    .nav-links {
        position: static;
        display: flex;
        flex-direction: row;
        background: none;
        width: auto;
        height: auto;
    }

    .nav-links li {
        border: none;
    }

    .nav-item#login-btn::after {
        display: none;
    }
}


}

//  Code for submit validation.//
.red-border {
    border: 1px solid red;
}


 // Form container styling
.form-container {
    &.hide {
        display: none;
    }

    input, button {
        display: block;
        margin: 10px 0;
    }

    button {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .modal-content {
        margin: 30% auto;
        width: 90%;
        max-width: none;
    }
}

// Footer styling
.footer {
    background-color: #5694BA;
    padding: 20px 10px;
    text-align: center;
    @include roboto-regular();
    // color: $primary-color;
    position: relative;
    margin-top: 50px;

    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &-logo {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        img {
            height: 50px;
        }

        span {
            // color: $primary-color;
            margin-left: 10px;
            font-size: 24px;
            @include bungee();
            font-weight: 300;
        }
    }

    &-links {
        list-style: none;
        padding: 0;
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .footer-item {
            text-decoration: none;
            // color: $primary-color;
            margin: 0 10px;
            font-size: 18px;
            position: relative;

            &:hover::after,
            &.active::after {
                content: '';
                display: block;
                width: 50%;
                height: 2px;
                background-color: lightblue;
                position: absolute;
                bottom: -2px;
                left: 25%;
            }
        }
    }

    .social-media {
        display: flex;
        justify-content: center;
        margin: 10px 0;

        a {
            margin: 0 10px;
            // color: $primary-color;
            font-size: 24px;

            &:hover {
                color: lightblue;
            }
        }
    }

    p {
        margin-top: 10px;
        font-size: 16px;
    }
}

@media (max-width: 769px) {
    .footer-logo img {
        height: 40px;
    }

    .footer-logo span {
        font-size: 20px;
    }

    .footer-item {
        font-size: 16px;
    }

    .social-media a {
        font-size: 20px;
    }

    footer p {
        font-size: 14px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1214px) {
    // this is the who are we section with text and photos
   main .who-are-we {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(2, 100%);
        flex-direction: row;
        text-align: left;
        

      main  .who-section {
        margin: 5% 15%;
        grid-area: 2 / 1 / 3 / 2;

       main  #who-pic {
            grid-area: 1 / 1 / 2 / 2;
        }

 
    // For the learn more button
    @include buttonStyle();

    // For the learn more button
        button {
            margin: 3% 0%;
            width: 40%;
        }
    } 
    
    // this is for the who are we image
        img {
            @include imageBorderRadius();
            width: 20vh;
            height: 40vh;
            
        }
    }

    main .our-mission {
        display: grid;
        grid-template-columns: repeat(2, 60%);
        grid-template-rows: repeat(2, 50%);
        @include leftAlign();
        margin-top: 30vw;

       main #mission-pic {
            grid-area: 1 / 1 / 2 / 2;
        }

       main .mission-section {
            margin: 5% 15%;
            grid-area: 1 / 2 / 2 / 3;
            // @include leftAlign();
        }

  
// this is the our mission image
    main img {
        @include imageSize();
        @include imageBorderRadius();
        width: 60vh;
        height: 40vh;
    }
}

}



